src/main/resources/service/BasketService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mes="http://www.alainn.com/SOA/message/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Basket" xmlns:tns="http://www.alainn.com/SOA/service/Basket/1.0" targetNamespace="http://www.alainn.com/SOA/service/Basket/1.0">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.alainn.com/SOA/message/1.0" schemaLocation="SOA-Message-1.0.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addToBasket">
		<wsdl:part element="mes:addToBasket" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addToBasketResponse">
		<wsdl:part element="mes:addToBasketResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeFromBasket">
		<wsdl:part element="mes:removeFromBasket" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeFromBasketResponse">
		<wsdl:part element="mes:removeFromBasketResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getBasket">
		<wsdl:part element="mes:getBasket" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getBasketResponse">
		<wsdl:part element="mes:getBasketResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Basket">
		<wsdl:operation name="addToBasket">
			<wsdl:input message="tns:addToBasket" />
			<wsdl:output message="tns:addToBasketResponse" />
		</wsdl:operation>
		<wsdl:operation name="removeFromBasket">
			<wsdl:input message="tns:removeFromBasket" />
			<wsdl:output message="tns:removeFromBasketResponse" />
		</wsdl:operation>
		<wsdl:operation name="getBasket">
			<wsdl:input message="tns:getBasket" />
			<wsdl:output message="tns:getBasketResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasketSoap" type="tns:Basket">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addToBasket">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Basket/1.0/addToBasket" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBasket">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Basket/1.0/getBasket" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFromBasket">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Basket/1.0/removeFromBasket" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BasketService">
		<wsdl:port binding="tns:BasketSoap" name="BasketPort">
			<soap:address location="http://www.alainn.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
