src/main/resources/service/ItemService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mes="http://www.alainn.com/SOA/message/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Item" xmlns:tns="http://www.alainn.com/SOA/service/Item/1.0" targetNamespace="http://www.alainn.com/SOA/service/Item/1.0">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.alainn.com/SOA/message/1.0" schemaLocation="SOA-Message-1.0.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getItems">
		<wsdl:part element="mes:getItems" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getItemsResponse">
		<wsdl:part element="mes:getItemsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getItem">
		<wsdl:part element="mes:getItem" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getItemResponse">
		<wsdl:part element="mes:getItemResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="modifySKUStockCount">
		<wsdl:part element="mes:modifySKUStockCount" name="parameters" />
	</wsdl:message>
	<wsdl:message name="modifySKUStockCountResponse">
		<wsdl:part element="mes:modifySKUStockCountResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Item">
		<wsdl:operation name="getItems">
			<wsdl:input message="tns:getItems" />
			<wsdl:output message="tns:getItemsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getItem">
			<wsdl:input message="tns:getItem" />
			<wsdl:output message="tns:getItemResponse" />
		</wsdl:operation>
		<wsdl:operation name="modifySKUStockCount">
			<wsdl:input message="tns:modifySKUStockCount" />
			<wsdl:output message="tns:modifySKUStockCountResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ItemSoap" type="tns:Item">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getItems">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Item/1.0/getItems" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getItem">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Item/1.0/getItem" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="modifySKUStockCount">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/Item/1.0/modifySKUStockCount" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ItemService">
		<wsdl:port binding="tns:ItemSoap" name="ItemPort">
			<soap:address location="http://www.alainn.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
