src/main/resources/service/WishListService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mes="http://www.alainn.com/SOA/message/1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WishList" xmlns:tns="http://www.alainn.com/SOA/service/WishList/1.0" targetNamespace="http://www.alainn.com/SOA/service/WishList/1.0">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.alainn.com/SOA/message/1.0" schemaLocation="SOA-Message-1.0.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="addWish">
		<wsdl:part element="mes:addWish" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addWishResponse">
		<wsdl:part element="mes:addWishResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeWish">
		<wsdl:part element="mes:removeWish" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeWishResponse">
		<wsdl:part element="mes:removeWishResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getWishList">
		<wsdl:part element="mes:getWishList" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getWishListResponse">
		<wsdl:part element="mes:getWishListResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="WishList">
		<wsdl:operation name="addWish">
			<wsdl:input message="tns:addWish" />
			<wsdl:output message="tns:addWishResponse" />
		</wsdl:operation>
		<wsdl:operation name="removeWish">
			<wsdl:input message="tns:removeWish" />
			<wsdl:output message="tns:removeWishResponse" />
		</wsdl:operation>
		<wsdl:operation name="getWishList">
			<wsdl:input message="tns:getWishList" />
			<wsdl:output message="tns:getWishListResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WishListSoap" type="tns:WishList">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="addWish">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/WishList/1.0/addWish" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeWish">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/WishList/1.0/removeWish" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getWishList">
			<soap:operation soapAction="http://www.alainn.com/SOA/service/WishList/1.0/getWishList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WishListService">
		<wsdl:port binding="tns:WishListSoap" name="WishListPort">
			<soap:address location="http://www.alainn.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
